Checks:          '-*,llvmlibc-restrict-system-libc-headers'
WarningsAsErrors: ''
CheckOptions:
  - key:            'llvmlibc-restrict-system-libc-headers.AllowSystemIncludes'
    value:          'true'
