Checks:          '*, -clang-analyzer-*'  # Enable all checks except analyzer checks
WarningsAsErrors: '*'  # Treat all warnings as errors by default

CheckOptions:
  - key:            'llvmlibc-restrict-system-libc-headers.AllowSystemIncludes'
    value:          'true'  # Allow system includes, but treat them as warnings

CheckOptions:
  - key:            '-*, llvmlibc-restrict-system-libc-headers'
    value:          'false'  # Allow the system includes check to be applied
